build/
build-appimage/
cmake-build-*/
_CPack_Packages/
AppDir/

01_Opusora_PRD_v1.1.md
02_Opusora_Development_Tasks.md
03_Opusora_Database_ERD.md
04_Opusora_QML_Prototype.md
05_Opusora_Technical_Design.md
Opusora_All_Documents.md

*.user
*.autosave

*.log
*.sqlite
*.sqlite3
*.deb
*.rpm
*.tar.gz
*.AppImage
*.zsync

.cache/
.qt/
